h1 Browser Push Notifications

javascript:
  document.addEventListener('DOMContentLoaded', function(){
    PushNotifications.init({
      eventSourceUrl: '/push_notifications?user_id=#{user_id}',
      notificationLink: 'https://instagram.com/Ironcoder',
      noActivityTimeMinutes: 0.1
    });
  });
