h1 Browser Push Notifications

- content_for :javascript_includes_after do
  javascript:
    document.addEventListener('DOMContentLoaded', function(){
      PushNotifications.init({
        eventSourceUrl: '/push_notifications?user_id=#{user_id}',
        noActivityTimeMinutes: 0.1
      });
    });
